%answerCheckWrapperStyle {
    position: relative; 
}

.answerCheck {
    position: absolute;
    z-index: 100;
    top: -20px;
    right: -14px;
    width: 56px;
    height: 56px;
    transition: opacity .9s ease;
    &__img {
        &--correct {
            width: 60%;
        }
        &--incorrect {
            width: 35%;
        }
    }
    &--visible {
        opacity: 1;
    }
    &--invisible {
        opacity: 0;
    }
    &--incorrect {
        display: none;
    }
    &--notSelected {
        display: none;
    }
    &--correct {
        display: flex;
    }
    &--selected {
        display: flex;
    }
}

@media (max-width: $break-l) {
    .answerCheck {
        top: -15px;
        right: -5px;

        width: 45px;
        height: 45px;
    }
}

@media (max-width: $break-s) {
    .answerCheck {
        width: 35px;
        height: 35px;    
    }
}