.buttonNext {
  text-align: left;
  text-transform: uppercase;
  transition: opacity 0.8s ease;
  @include align-items(center);
  @include justify-content(space-between);
  @extend %fontSize--m;
  &--small {
    width: 200px;
    height: 60px;
    margin-top: $s-xx-small;
    padding: 16px;
    span {
      margin-left: $s-x-small;
    }
    img {
      width: 56px;
      margin-top: $s-xx-small;
    }
  }
  &--big {
    width: 280px;
    height: 80px;
    padding: 0 12px;
    span {
      margin-left: $s-small;
    }
    img {
      height: 90%;
      margin-top: $s-x-small;
    }
  }
  &.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.7s ease, transform 0.7s ease;
  }
  &.not-visible {
    opacity: 0;
    transition-delay: 0s;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  &.blocked {
    cursor: wait;
  }
}

@media (max-width: $break-l) {
  .buttonNext {
    &--small {
      width: 100%;
      margin: 0;
    }
    &--big {
      width: 250px;
      height: 72px;
      & img {
        margin-top: 5px;
      }
    }
  }
}