.categoryButton {
    text-transform: uppercase;

    @include flex-direction(column);
    @include align-items(flex-start);

    &__icon {
        width: 40%;
        margin: 0 10%;
    }
    &__pinkLine {
        width: 100%;
        height: 1.5px;
        margin: 17% 0 7%;
    }
    &--single {
        width: 180px;
        height: 140px;

        @extend %fontSize--sm;
        @include display-flex();
        @include align-items(center);
        @include justify-content(space-around);
        & .categoryButton__pinkLine {
            width: 80%;
            height: 2px;
        }
    }
    &--list {
        padding: $s-small;

        @include justify-content(flex-end);
    }
    &--row {
        width: 170px;
        height: 165px;
        margin: $s-x-small;

        @extend %fontSize--s;
    }
    &--column {
        width: 120px;
        height: 120px;
        margin: $s-x-small 0;

        @extend %fontSize--xxs;
    }
}

@media (max-width: $break-xl) {
    .categoryButton {
        &--single {
            width: 120px;
            height: 115px;
        }
        &--list {
            padding: 13px;
        }
        &--row {
            width: 120px;
            height: 125px;
            border-radius: 11px;
            margin: $s-xx-small;
        }
        &--column {
            width: 95px;
            height: 100px;
            margin: $s-xx-small 0;
            padding: 7px;
    
            border-radius: 11px;
            & .categoryButton__icon {
                width: 50%;
            }
        }
    }
}

@media (max-width: $break-s) {
    .categoryButton--column {
        width: 68px;
        height: 70px;
        margin: $s-xsmall;
        padding: 4px;
        font-size: 0.6rem;
        border-radius: 7px;
    }
}

@media (max-width: $break-xxs) {
    .categoryButton {
        &--single {
            width: 80px;
            height: 75px;
        }
        &--row {
            width: 100px;
            height: 95px;
            margin: $s-xx-small;
            border-radius: 9px;
        }
        &--column {
            width: 50px;
            height: 50px;
            font-size: 0.4rem;
            border-radius: 6px;
        }
    }
}