.counter {
    @include circle-style();
    transition: all 0.5s ease; // Add transition for fading
     // Initially hidden

    &--visible {
        opacity: 1; // Fully visible when the class is added
    }
    &--not-visible {
        opacity: 0;
    }

    span:last-of-type {
        color: $c-brilliant-rose;
    }
    &--quizPage {
        position: absolute;
        top: calc((85 - 56) / 2)px;
        right: 0;

        width: 85px;
        height: 85px;
        
        @extend %fontSize--xl;
    }
    &--scorePage {
        z-index: 2;

        width: 140px;
        height: 140px;

        @extend %fontSize--xxl;
    }
}

@media (max-width: $break-l) { 
    .counter {
        &--quizPage {
            width: 55px;
            height: 55px;
        }
        &--scorePage {
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: $break-s) {
    .counter--quizPage {
        width: 45px;
        height: 45px;
    }
}