.heading {
    width: 70%;
    height: 56px;

    text-transform: uppercase;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;

    @extend %fontSize--l;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);

    & h1, h2, h3, h4, h5, h6 {
        @extend %fontSize--l;
        opacity: 0; // Initially hidden
        transition-delay: 1s;
        transition: all 0.5s ease-in; // Delay for text appearance
    }

    &--scorePage {
        width: 680px;
        position: absolute;
        top: 33%;
        right: -70px;
    }

    &.slide-in {
        transform: scaleX(0); // Start from center and scale horizontally
        opacity: 1;
        animation: growRibbon 0.3s forwards; // Use keyframes for grow effect
        & h1, h2, h3, h4, h5, h6 {
            transition-delay: 0.5s;
            opacity: 1; // Initially hidden
        }
    }

    &.slide-out {
        transition: none; 
        opacity: 0;
        transform: scaleX(1);
    }
}

@keyframes growRibbon {
    0% {
        transform: scaleX(0); // Start from center
    }
    100% {
        transform: scaleX(1); // Grow to full width
    }
}

@media (max-width: $break-l) {
    .heading {
        width: 400px;
        height: 50px;
        &--quizPage {
            width: 90%;
            & span {
                max-width: 70%;
            }
        }
        &--scorePage {
            right: 0;
        
            width: 400px;
            height: 40px;
        }
    }
}

@media (max-width: $break-s) {
    .heading {
         width: 300px;
    }
}

// @media (max-width: $break-xxs) {
//     .heading {
//         height: 30px;
//         width: 240px;
//         &--menuPage,
//         &--quizPage {
//             margin: $s-small 0;
//         }
//         &--startPage {
//             margin: $s-small 0 0;
//         }
//         &--scorePage {
//             right: -40px;
//             top: 31%;
//             width: 295px;
//             height: 30px;
//         }
//     }
// }