.header {
    @include display-flex();
    @include flex-direction(row);
    @include justify-content(space-between);
    width: 100%;
    position: relative;

    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    height: 80px;
    &__icon {
        & img {
            height: 48px;
        }
    }
    &.visible {
        transition: transform 0.5s ease;
        transform: translateY(0);       
    }
    &.not-visible {
        transform: translateY(-100%);
    }
    &.without-transition {
        transform: translateY(0);
    }
}

@media (max-width: $break-l) {
    .header {
        &__navigation {
           padding-top: 0;
        }
        &__icon img {
            height: 50px;
        }
    }
}

@media (max-width: $break-s) {
    .header {
        padding: 0 32px;
        height: 64px;
        &__navigation {
           padding-top: 0;
        }
        &__icon img {
            height: 30px;
        }
    }
}

// @media (max-width: $break-xxs) {
//     .header {
//         padding: 0 16px;
//         height: 48px;
//         &__icon img {
//             width: 30px;
//         }
//     }
// }