.heading {
    width: 70%;
    height: 56px;
    text-transform: uppercase;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    & h1, h2, h3, h4, h5, h6 {
        @extend %fontSize--l;
        opacity: 0;
        transition-delay: 1s;
        transition: opacity 0.5s ease;
    }
    &--scorePage {
        width: 680px;
        position: absolute;
        top: 33%;
        right: -70px;
    }
    &.slide-in {
        opacity: 1;
        animation: growRibbon 0.3s forwards;
        transition: opacity 0.5s ease, transform 0.5s ease;
        & h1, h2, h3, h4, h5, h6 {
            transition-delay: 0.5s;
            opacity: 1;
        }
    }
    &.slide-out {
        animation: none;
        transition: opacity 0.5s ease;
        opacity: 0;
        transform: scaleX(0);
    }
    &.slide-out.last {
        transition: opacity 0.5s ease, translateY 0.5s ease;
        opacity: 0;
        transform: scaleX(0), translateY(20px);
    }
}

@keyframes growRibbon {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

// @media (max-width: $break-l) {
//     .heading {
//         width: 400px;
//         height: 50px;
//         &--quizPage {
//             width: 90%;
//             & span {
//                 max-width: 70%;
//             }
//         }
//         &--scorePage {
//             right: 0;
        
//             width: 400px;
//             height: 40px;
//         }
//     }
// }

@media (max-width: $break-l) {
    .heading {
        width: 100%;
        & h1, h2, h3, h4, h5, h6 {
            font-size: 20px;
            padding: 0 50px;
        }
    }
    .heading--menuPage, .heading--startPage {
        & h1, h2, h3, h4, h5, h6 {
            font-size: 20px;
            padding: 0;
        }
    }
    .heading--scorePage {
        top: 22%;
        width: 380px;
        right: 0px;
    }
}

@media (max-width: $break-s) {
    .heading {
        width: 100%;
        & h1, h2, h3, h4, h5, h6 {
            font-size: 14px;
            padding: 0 58px;
        }
    }
    .heading--menuPage, .heading--startPage {
        & h1, h2, h3, h4, h5, h6 {
            font-size: 16px;
            padding: 0;
        }
    }
}