.logo {
  height: 64px;

  &.visible {
    transition: opacity 1.5s ease;
    opacity: 1;
  }
  &.not-visible {
    transition: opacity 0s ease;
    opacity: 0;
  }
}

@media (max-width: $break-l) {
  .logo {
    height: 56px;
  }
}

@media (max-width: $break-s) {
  .logo {
    height: 48px;
  }
}