.navigation {
    gap: 32px;
    @include display-flex();
    @include justify-content(space-between);
    align-items: center;
    &__icon {
        width: auto;
        height: 17px;

        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}