.navigation {
  gap: 32px;
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  &__icon {
    width: auto;
    height: 17px;

    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: $break-l) {
  .navigation {
    gap: 16px;
    &__icon {
        height: 16px;
    }
  }
}

@media (max-width: $break-s) {
  .navigation {
    gap: 16px;
    &__icon {
        height: 16px;
    }
  }
}
