.pageTransition {
    opacity: 1;
    width: 100%;
    transition-delay: 1s;
    transition: opacity 1s ease;
  }
  
  .pageTransition-enter {
    opacity: 1;
  }
  
  .pageTransition-exit {
    opacity: 1;
  }