.quizPageSelect {
  @extend %quizPageStyle__content;
  gap: 24px;

  &__answersSection {
    gap: 20px;
    width: 100%;
    @extend %quizPageStyle__answersSection;
    &--select {
      @include justify-content(flex-start);
    }
    &--tf {
      @include justify-content(center);
    }
  }
  &__questionSection {
    min-height: 102px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @extend %quizPageStyle__questionSection;
  }
  &__buttonAnswer {
    width: 310px;
    height: 90px;
    padding: 0 $s-standard;

    @extend %fontSize--m;
    @extend %answerCheckWrapperStyle;
    @include align-items(center);
  }
}

@media (max-width: $break-xl) {
  .quizPageSelect {
    &__buttonAnswer {
      width: 210px;
      height: 70px;
      border-radius: 11px;
      padding: 0 $s-x-small;
    }
    &--select {
      width: 660px;
    }
    &__questionSection {
      min-height: 80px;
    }
  }
}

@media (max-width: $break-m) {
  .quizPageSelect--select {
    width: 440px;
  }
}

@media (max-width: $break-xs) {
  .quizPageSelect {
    width: 80%;
    &__buttonAnswer {
      width: 100%;
      height: 50px;

      border-radius: 11px;
    }
    &__answersSection--select {
      @include justify-content(center);
    }
    &__questionSection {
      min-height: 50px;
    }
  }
}

@media (max-width: $break-xxs) {
  .quizPageSelect__buttonAnswer {
    height: 40px;
    border-radius: 9px;
  }
}
