.quizPageDnd {
    @extend %quizPageStyle__content;
    gap: 24px;
    &__questionSection {
        min-height: 256px;
        gap: 24px;
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(center);
        @extend %quizPageStyle__questionSection;
        > p {
           margin-bottom: $s-x-small;
           text-align: center;
        }
        &.visible {
          transition: opacity 0.8s ease, transform 0.8s ease;
          opacity: 1;
        }
        &.not-visible {
          transition: opacity 0s ease, transform 0s ease;
          opacity: 0;
          transform: translateY(20px);
        }
    }
    &__questionSectionPart {
        gap: 16px;
        @include display-flex();
        @include flex-wrap(no-wrap);
        @include align-items(center);
        @include justify-content(center);
        p {
            max-width: 450px;
            text-align: end;
        }
    }
    &__answerCheckWrapper {
        @extend %answerCheckWrapperStyle;
        @include display-flex();
        @include justify-content(center);
    }
    &__questionDropPlaceWrapper {
        overflow: hidden;
        box-sizing: content-box;
        width: 660px;
        height: 70px;
        border-radius: 18px;
        @include display-flex();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(flex-start);
    }
    &__questionDropPlace {
        width: 100%;
        height: 50%;
    }
    &__answersSection {
        gap: 16px;
        @extend %quizPageStyle__answersSection;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(flex-start);
        &.visible {
                transition: opacity 0.8s ease, transform 0.8s ease;
                opacity: 1;
                transform: translateY(0);
              }
              &.not-visible {
                transition: opacity 0s ease, transform 0s ease;
                opacity: 0;
                transform: translateY(20px);
              }
    }
    &__answersDropPlace {
        @include display-flex();
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    &__buttonAnswer {
        @extend %quizPageStyle--draggableAnswer;
        opacity: 1;
        &.visible {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease, transform 0.5s ease;
          }
          &.not-visible {
            opacity: 0;
            transition-delay: 0s;
            transform: translateY(20px);
            transition: opacity 0.3s ease, transform 0.3s ease;
          }
          &--0.visible {
              transition-delay: 0.2s;
            }
            &--1.visible {
              transition-delay: 0.4s;
            }
            &--2.visible {
              transition-delay: 0.6s;
            }
            &--3.visible {
              transition-delay: 0.8s;
            }
            &--4.visible {
              transition-delay: 1s;
            }
            &--5.visible {
              transition-delay: 1.2s;
            }
            &--6.visible {
              transition-delay: 1.4s;
            }
            &.blocked {
              cursor: wait;
            }
    }
    &__buttonNextWrapper {
      height: fit-content;
      width: fit-content;
  }
}

// @media (max-width: $break-l) {
//     .quizPageDnd {
//         &__questionDropPlaceWrapper {
//             width: 420px;
//             height: 50px;
//             margin: $s-xx-small $s-x-small;
//             border-radius: 15px;
//         }
//         &__questionSectionPart {
//             min-height: 65px;
//              p {
//                 max-width: 330px;
//             }
//         }
//         &__questionSection {
//             margin-bottom: $s-x-small;
//         }
//         &__buttonNextWrapper {
//           width: 100%;
//           padding: 5px;
//       }
//     }
// }

// @media (max-width: $break-s) {
//     .quizPageDnd {
//         &__questionSectionPart {
//             flex-direction: column;
//         }
//         &__answersSection {
//             flex-direction: column;
//             @include align-items(center);
//         }
//     }
// }
@media (max-width: $break-l) {
  .quizPageDnd {
      gap: 16px;
      &__answerCheckWrapper {
          width: 100%;
      }
      &__questionSection {
      //   min-height: auto;
      //     width: 100%;
      //     gap: 16px;
          margin-bottom: 0;
      }
      &__questionSectionPart {
        width: 100%;
        gap: 12px;;
        flex-wrap: wrap;
        p {
          max-width: 450px;
          text-align: center;
        }
      }
      &__answersDropPlace {
          width: calc(100% - 4px);
      }
      &__buttonNextWrapper  {
        width: calc(100% - 4px);
        padding: 5px;
    }
      &__questionDropPlaceWrapper {
         width: 100%;
      }
    }
}

@media (max-width: $break-s) {
    .quizPageDnd {
        &__answerCheckWrapper {
            width: 100%;
        }
        &__questionSection {
          min-height: auto;
            width: 100%;
            gap: 16px;
            margin-bottom: 0;
        }
        &__questionSectionPart {
            width: 100%;
            gap: 8px;
        }
        &__answersDropPlace {
            width: calc(100% - 4px);
        }
        &__questionDropPlaceWrapper {
            margin: 5px 0;
        }
    }
}