.menuPage__categoriesLinksWrapper {
    width: 100%;
    gap: 20px;
    margin-top: 24px;
    @include display-flex();
    @include flex-wrap(wrap);
    @include justify-content(center);
}

@media (max-width: $break-m) {
    .menuPage__categoriesLinksWrapper {
        gap: 16px;
        margin-top: 16px;
    }
}

@media (max-width: $break-s) {
    .menuPage__categoriesLinksWrapper {
        gap: 8px;
        margin-top: 8px;
    }
}