%quizPageStyle--draggableAnswer {
    width: 650px;
    height: 60px;
    margin: $s-xx-small;
    padding: 0 $s-standard;
    text-align: left;
    @extend %fontSize--m;
    @include align-items(center);
}
%quizPageStyle__content {
    width: 100%;
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
}
%quizPageStyle__answersSection {
    width: 100%;
    gap: 16px;
    @include display-flex();
    @include flex-wrap(wrap);
}
%quizPageStyle__questionSection {
    width: 100%;
    gap: 16px;
    text-align: center;
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @extend %fontSize--xl;
    & h2 {
        @extend %fontSize--xl;
    }
}
.quizPage {
    &__content {
        @include display-flex();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        gap: 24px;
        width: 100%;
    }
    &__heading {
        position: relative;
        width: 900px;
        text-align: center;
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
    }
}

@media (max-width: $break-l) {
    .quizPage__heading {
        width: 100%;
    }

    .quizPage__content {
        gap: 24px;
    }
    %quizPageStyle--draggableAnswer {
        width: calc(100% - 10px);
    }
}

@media (max-width: $break-s) {
    .quizPage__heading {
        width: 100%;
    }
    %quizPageStyle__answersSection {
        width: 100%;
        gap: 24px;
    }
    .quizPage__content {
        width: 100%;
        gap: 24px;
    }
    %quizPageStyle--draggableAnswer {
        width: calc(100% - 10px);
    }
}