%quizPageStyle--draggableAnswer {
    width: 650px;
    height: 60px;
    margin: $s-xx-small;
    padding: 0 $s-standard;
    text-align: left;

    @extend %fontSize--m;
    @include align-items(center);
}
%quizPageStyle__content {
    width: 100%;

    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
}
%quizPageStyle__answersSection {
    @include display-flex();
    @include flex-wrap(wrap);
    width: 100%;
    gap: 16px;
}
%quizPageStyle__questionSection {
    width: 100%;
    gap: 16px;
    text-align: center;
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    @extend %fontSize--xl;
    & h2 {
        @extend %fontSize--xl;
    }
}
.quizPage {
    &__content {
        @include display-flex();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        gap: 24px;
    }
    &__heading {
        position: relative;

        width: 900px;

        text-align: center;

        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
    }
}

@media (max-width: $break-l) {
    .quizPage__heading {
        position: relative;

        width: 500px;
    }
    %quizPageStyle--draggableAnswer {
        width: 415px;
        height: 45px;
        margin: 2.5px;
        padding: 0 10px;

        border-radius: 11px;
        transition: opacity 0.5s ease, transform 0.5s ease;
        @extend %fontSize--m;
        &.not-visible {
           opacity: 0;
           transform: translateY(20px);
        }
     
        &.visible {
           opacity: 1;
           transform: translateY(0);
        }
    }
}

@media (max-width: $break-s) {
    .quizPage__heading {
        width: 90%;
    }
    %quizPageStyle__answersSection {
        width: 100%;
    }
}

@media (max-width: $break-s) {
    %quizPageStyle--draggableAnswer {
        width: calc(100% - 5px);
    }
}

// @med1